@font-face {
  font-family: 'decimamonox';
  src: url('./fonts/decimamonox-webfont.woff2') format('woff2'), url('./fonts/decimamonox-webfont.woff') format('woff');
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: 'decimamonox';
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  border-style: none;
  border-width: 0px;
  transition: top .6s, left .6s, right .6s, bottom .6s;
}

iframe.institute {
  top: -100%;
  left: 0%;
}

iframe.participants {
  top: 100%;
  left: 0%;
}

iframe.docs {
  left: -100%;
  top: 0%;
}

iframe.visible {
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
}

.link {
  position: fixed;
  display: inline-block;
  font-size: 20px;
  pointer-events: none;
  color: white;
  font-size: 1em;
}

.link.active {
  cursor: pointer;
  pointer-events: initial;
}

#DAULink {
  visibility: visible;
  opacity: 1;
  left: 1.5em;
  top: 1em;
}
#instituteLink {
  right: 1.5em;
  top: 1em;
}
#participantsLink {
  right: 1.5em;
  bottom: 1em;
}
#docsLink {
  left: 1.5em;
  bottom: 1em;
}

/* .pulse-container {
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
}

.pulse-bubble-1 {
  animation: pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
  animation: pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3 {
  animation: pulse .4s ease .4s infinite alternate;
}

@-webkit-keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
} */