html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#bg {
  background-image: url('./participants.png');
  background-size: cover;
  background-position-x: 0px;
  background-repeat: no-repeat;
  height: 100%;
}