div {
  line-height: 98vh;
  text-align: center;
  &.animated {
    animation: colorize 7s;
  }
}

@keyframes colorize {
  from, to {
    color: red;
  }
  15% {
    color: orange;
  }
  30% {
    color: yellow;
  }
  44% {
    color: green;
  }
  58% {
    color: lightblue;
  }
  72% {
    color: blue;
  }
  86% {
    color: violet;
  }
}