@font-face {
  font-family: "decimamonox";
  src: url("/fonts/decimamonox-webfont.woff2") format("woff2"),
    url("/fonts/decimamonox-webfont.woff") format("woff");
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "decimamonox";
  font-size: 1vw;
  line-height: 1.55vw;
  font-feature-settings: "liga" off;
  font-variant-ligatures: no-common-ligatures;
  color: rgb(230, 230, 230);
  padding: 3.5em 1.9em;
  @media (max-width: 680px) {
    font-size: 12px;
    line-height: 18.6px;
    padding: 59px 9%;
  }
}

@media (min-width: 681px) {
  .mobile {
    display: none !important;
  }
}
@media (max-width: 680px) {
  .desktop {
    display: none !important;
  }
}

.line {
  div {
    display: inline-block;
  }
  @media (max-width: 680px) {
    max-width: 80%;
  }
  a:link {
    color: inherit;
    text-decoration: inherit;
  }
  a:visited {
    color: inherit;
    text-decoration: inherit;
    cursor: auto;
  }
  a.underline {
    div {
      text-decoration: underline;
    }
  }
  &.sharing {
    .share {
      opacity: 0.5;
    }
  }
}

#shiftContainer {
  // margin-top: 0.5em;
  position: relative;
  // @media (max-width: 680px) {
  //   margin-top: 0;
  // }
}

.shiftContainer div {
  position: relative;
}

.at_fest {
  position: relative;
  @media (max-width: 905px) {
    max-width: 22em;
  }
}

.nat_title {
  margin-top: 2.5vw;
  @media (max-width: 680px) {
    margin-top: 37.2px;
  }
}

.nat {
  position: relative;
}

// .nat_date {
//   @media (max-width: 680px) {
//     margin-top: 1em;
//   }
// }

.nat_place {
  vertical-align: top;
}

.nat_tbc_place {
  position: relative;
  @media (max-width: 680px) {
    max-width: 16em;
  }
  @media (max-width: 312px) {
    max-width: 13em;
  }
}

.deg_title {
  margin-top: 2.5vw;
  @media (max-width: 680px) {
    margin-top: 37.2px;
  }
}

// .deg_date {
//   @media (max-width: 680px) {
//     margin-top: 1em;
//   }
// }

.deg_place {
  vertical-align: top;
}

.deg_tbc_place {
  position: relative;
  @media (max-width: 680px) {
    max-width: 16em;
  }
  @media (max-width: 312px) {
    max-width: 13em;
  }
}

.at_fest .carriage,
.nat_title .carriage {
  margin-right: -0.7em;
}
.nat_tickets .carriage,
.deg_tickets .carriage {
  margin-left: -0.5em;
}

// #register {
//   margin-top: 2em;
//   position: relative;
// }

.carriage {
  display: inline-block;
  opacity: 0;
  position: relative;
  width: 0.1em;
  // height: 100%;
  background-color: rgb(230, 230, 230);
  height: 1vw;
  top: 0.2vw;
  @media (max-width: 680px) {
    height: 12px;
    top: 3.3px;
  }

}

#mc_embed_signup {
  position: absolute;
  background-color: transparent;
  font-family: "decimamonox";
  font-size: 1vw;
  line-height: 1.55vw;
  font-feature-settings: "liga" off;
  font-variant-ligatures: no-common-ligatures;
  top: 55%;
  left: 7em;
  .agreement {
    max-width: 30em;
    color: rgba(230, 230, 230, 0.5);
    a:link {
      color: rgb(230, 230, 230);
      text-decoration: inherit;
      text-decoration: underline;
    }
    a:visited {
      color: rgb(230, 230, 230);
      cursor: auto;
    }
  }
  .mc-field-group {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0 1px;
    div.mce_inline_error {
      display: none !important;
    }
    .input {
      border-bottom: 1px solid rgb(230, 230, 230);
      flex-grow: 1;
      input {
        position: relative;
        color: rgb(230, 230, 230) !important;
        background-color: rgb(25, 25, 25) !important;
        margin: 0em !important;
        padding: 0 !important;
        border: 0px !important;
        outline: none;
        font-family: "decimamonox";
        font-size: 1vw;
        line-height: 1.55vw;
        font-feature-settings: "liga" off;
        font-variant-ligatures: no-common-ligatures;
        width: 100%;
        -webkit-box-shadow: inset 0 0 0 50px rgb(25, 25, 25);
        -webkit-text-fill-color: rgb(230, 230, 230);
        @media (max-width: 680px) {
          font-size: 12px;
          line-height: 18.6px;
        }
        &::placeholder {
          color: rgb(230, 230, 230);
          opacity: 0.5;
          visibility: visible;
          font: 400 1em "decimamonox";
          text-align: start;
        }
        &:-internal-autofill-selected {
          background-color: rgb(25, 25, 25) !important;
          color: rgb(230, 230, 230) !important;
        }
      }
    }
    .clear {
      #mc-embedded-subscribe {
        opacity: 0.5;
        pointer-events: none;
        -webkit-appearance: none;
        color: white;
        background-color: transparent;
        border-width: 0;
        font-family: "decimamonox";
        font-size: 1vw;
        line-height: 1.55vw;
        font-feature-settings: "liga" off;
        font-variant-ligatures: no-common-ligatures;
        @media (max-width: 680px) {
          font-size: 12px;
          line-height: 18.6px;
        }
        &.enabled {
          opacity: 1;
          pointer-events: all;
          cursor: pointer;
        }
      }
    }
  }
  #mce-responses {
    #mce-error-response {
      max-width: 30em;
      a:link {
        color: rgb(230, 230, 230);
        text-decoration: inherit;
        text-decoration: underline;
      }
      a:visited {
        color: rgb(230, 230, 230);
        cursor: auto;
      }
    }
    #mce-success-response {
      text-transform: uppercase;
    }
  }
}

#linesContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 1;
  @media (max-width: 680px) {
    display: none;
  }
  #lines {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    width: 0%;
    height: 0%;
    transform: translate(-50%, -50%);
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    // z-index: 0;
    transition: bottom 0.5s 0.5s;

    .block {
      flex-basis: 49%;
      height: 50%;
      box-sizing: border-box;
      visibility: hidden;
      &:nth-child(1),
      &:nth-child(3) {
        border-right: 1px solid rgb(230, 230, 230);
      }
      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: 1px solid rgb(230, 230, 230);
      }
    }
  }
  &.withTransition #lines {
    transition: bottom 0.5s 0.5s, width 0.5s, height 0.5s 0.5s;
  }
  &.shown {
    #lines {
      // transition: width 0.2s, height 0.2s;
      width: 100%;
      height: 96%;
      .block {
        visibility: visible;
      }
    }
  }
}
