@font-face {
  font-family: 'decimamonox';
  src: url('/fonts/decimamonox-webfont.woff2') format('woff2'), url('/fonts/decimamonox-webfont.woff') format('woff');
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: 'decimamonox';
  font-size: 0.8em;
  // background-color: rgb(25, 25, 25);
  color: rgb(230, 230, 230);
  padding: 3.5em 1.9em;
}

#disapContainer {
  position: relative;
}

#disapContainer div {
  position: relative;
}

#whichTook {
  margin-top: 2em;
}

#from24 {
  margin-top: 2em;
}

#over {
  margin-top: 3em;
}

#over .carriage, #weLook .carriage {
  margin-right: -0.7em;
}

#weLook {
  margin-top: 3em;
  position: relative;
}

#register {
  margin-top: 2em;
  position: relative;
}

.carriage {
  display: inline-block;
  position: absolute;
  width: 0.1em;
  height: 1em;
  top: 0.1em;
  background-color: rgb(230, 230, 230);
}

#mc_embed_signup {
  position: relative;
  margin-top: 4em;
}

.mc-field-group {
  padding: 10px 0 4px;
  border-bottom: 1px solid rgb(230, 230, 230);
  width: 20em;
  overflow: hidden;
}

.mc-field-group input  {
  position: relative;
  text-align: end !important;
  font: 400 1em 'decimamonox' !important;
  color: rgb(230, 230, 230) !important;
  background-color: rgb(25, 25, 25) !important;
  margin: 0em !important;
  padding: 0 !important;
  border: 0px !important;
  width: 20em;
  outline: none;
}

.mc-field-group input::placeholder {
  color: rgb(230, 230, 230);
  opacity: 1;
  visibility: visible;
  font: 400 1em 'decimamonox';
  text-align: start;
}

#mc_embed_signup .clear {
  margin-top: 1em;
  width: 20em;
}

#mc-embedded-subscribe {
  float: right;
  visibility: hidden;
}