@font-face {
  font-family: "decimamonox";
  src: url("/fonts/decimamonox-webfont.woff2") format("woff2"),
    url("/fonts/decimamonox-webfont.woff") format("woff");
}

@font-face {
  font-family: "druk-bold";
  font-weight: 700;
  src: url("/fonts/Druk-Bold-Web.woff2") format("woff2"),
    url("/fonts/Druk-Bold-Web.woff") format("woff");
}

html {
  width: 100wv;
}
body {
  width: 100%;
  font-family: "decimamonox";
  font-size: 12px;
  line-height: 18.6px;
  font-feature-settings: "liga" off;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-smoothing: antialiased;
  @media (min-width: 681px) {
    font-size: 1vw;
    line-height: 1.55;
  }
}

html,
body {
  height: 100vh;
  margin: 0px;
  overscroll-behavior: none;
}

@media (min-width: 681px) {
  .mobile {
    display: none !important;
  }
}
@media (max-width: 680px) {
  .desktop {
    display: none !important;
  }
}

#mainContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  .header {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin-top: 2vw;
    align-items: center;
    @media (min-width: 681px) {
      flex-direction: row;
    }
    .title {
      font-size: 27.5vw;
      line-height: 0.8;
      text-align: center;
      width: 100%;
      font-family: 'druk-bold';
      font-weight: bold;
      flex-shrink: 0;
      box-sizing: border-box;
      @media (min-width: 320px) {
        font-size: 28vw;
      }
      @media (min-width: 375px) {
        font-size: 28.5vw;
      }
      @media (min-width: 420px) {
        font-size: 29vw;
      }
      @media (min-width: 550px) {
        font-size: 29.5vw;
      }
      @media (min-width: 681px) {
        font-size: 10.5vw;
        width: 50%;
        text-align: left;
        padding-left: 2%;
      }
    }
  
    .info {
      // font-size: 12px;
      // line-height: 18.6px;
      width: calc(100% - 32px);
      position: relative;
      // display: flex;
      // flex-flow: column nowrap;
      // align-items: center;
      .linkback {
        position: absolute;
        top: 0;
        left: 0;
      }
      .description {
        text-align: left;
      }
      @media (min-width: 681px) {
        width: calc(50% - 6px);
        font-size: 1vw;
        line-height: 1.8;
        .linkback {
          left: -65pt;
        }
        .description {
          width: 65%;
        }
      }
    }
  
  }



  .contentWrapper {
    display: inline-block;
    width: 100%;
    position: relative;
    @media (min-width: 681px) {
      width: 72.8%;
    }

    &.hor {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      .textContentWrapper {
        @media (min-width: 681px) {
          &.dau {
            width: 7em;
            padding: 0 8px;
          }
        }
      }
    }

    .textContentWrapper {
      display: inline-block;
      text-align: left;
      padding: 0 9%;
      width: 100%;
      box-sizing: border-box;
      @media (min-width: 681px) {
        padding: 0 2%;
      }
      .text {
        display: block;
        // font-size: 12px;
        // font-family: "decimamonox";
        // line-height: 18.6px;
        // font-feature-settings: "liga" off;
        // font-variant-ligatures: no-common-ligatures;
        // @media (min-width: 680px) {
        //   font-size: 10.7pt;
        //   line-height: 1.55;
        // }
        a:link {
          text-decoration: inherit;
          color: inherit;
        }
        a:visited {
          text-decoration: inherit;
          color: inherit;
          cursor: auto;
        }
        a.underline {
          text-decoration: underline;
          &:visited {
            text-decoration: underline;
          }
        }
        &.sharing {
          div {
            display: inline-block;
          }
          .share {
            opacity: 0.5;
          }
        }
      }
      .restriction {
        float: right;
        position: relative;
        padding: 0 0.5em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        border: 1px solid black;
        transform: translate(1em, -1px);
      }
      .watchPart {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;
        a.watch_button {
          -webkit-appearance: none !important;
          -moz-appearance: none !important;
          -ms-appearance: none !important;
          -o-appearance: none !important;
          appearance: none !important;
          text-transform: uppercase;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 38px;
          width: 42%;
          color: white;
          margin-right: 7%;
          cursor: pointer;
          &.disabled {
            cursor: default;
          }
          &:link {
            text-decoration: inherit;
            color: white;
          }
          &:visited {
            text-decoration: inherit;
            color: white;
            cursor: auto;
          }
        }
      }
      .columnsWrapper {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        width: 100%;
        .leftTextBlock {
          display: inline-flex;
          flex-flow: column nowrap;
          // flex-grow: 0;
          width: 29%;
           @media (min-width: 681px) {
            margin-left: 17ch;
            width: 28ch;
           }
        }
        .rightTextBlock {
          display: inline-flex;
          flex-flow: column nowrap;
          // flex-grow: 0;
          width: 52%;
          @media (min-width: 681px) {
            width: 24em;
          }
        }
        &.cast {
          flex-flow: column nowrap;
          margin-bottom: 18px;
          @media (min-width: 681px) {
            flex-flow: row nowrap;
            margin-bottom: 0px;
            .role {
              margin-left: 17ch;
              width: 28ch;
            }
          }
        }
      }
    }

    .imgWrapper {
      img {
        width: 100%;
        // background-size: cover;
        // background-repeat: no-repeat;
        border-radius: 4px;
        display: inline-block;
      }
    }

    .cadrsContainer {
      display: inline-block;
      padding: 0 8px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      .cadr {
        display: none;
        &.visible {
          display: block;
          cursor: pointer;
        }
        img {
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 4px;
          display: inline-block;
          pointer-events: none;
        }
      }
      @media (min-width: 681px) {
        padding: 0;
      }
    }
    
    .cadrCountContainer {
      display: inline-flex;
      flex-flow: row nowrap;
      width: 100%;
      justify-content: center;
    }

    .filmBlocksContainer {
      display: inline-flex;
      flex-flow: column nowrap;
      position: relative;
      .filmBlock {
        position: relative;
        text-align: left;
        img {
          width: calc(100% - 16px);
          height: auto;
          margin: 0 auto;
          border-radius: 4px;
          margin-left: 8px;
        }
        margin-bottom: 54px;
        .textContentWrapper {
          max-width: 91.2%;
        }
      }
      @media (min-width: 681px) {
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        position: relative;
        .filmBlock {
          width: calc(50% - 3px);
          margin-bottom: 6.2vw;
          .textContentWrapper {
            padding: 0;
            // max-width: 276px;
            text-align: left;
            .cast {
              margin-bottom: 18px;
              .role {
                margin-left: 0px;
                width: 50%;
              }
            }
          }
          img {
            // padding: 0px;
            width: 100%;
            margin-left: 0%;
          }
        }
      }
    }
  }

  .dark,
  .light {
    width: 100%;
  }
  
  .dark {
    .text {
      color: rgb(230, 230, 230);
    }
    a.watch_button {
      border: 1px solid white;
      box-sizing: border-box;
      background-color: transparent;
    }
    background-color: rgb(25, 25, 25);
  }
  
  .light {
    background-color: rgb(230, 230, 230);
    .text {
      color: rgb(25, 25, 25);
    }
    a.watch_button {
      background-color: black;
    }
  }
}

.inplayerContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  justify-content: center;
  align-items: center;
  &.visible {
    display: flex;
  }
  .cross {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 48px;
    cursor: pointer;
    z-index: 1;
    color: white;
    &.fadeout {
      transition: opacity .3s;
      opacity: 0;
    }
  }
  .inplayer {
    width: 80%;
  }
}

#inplayer-menu-content {
  .inplayer-user .inplayer-avatar-toggle.inplayer-avatar-box-shadow {
    box-shadow: none;
    // background-image: none;
  }

  .inplayer-menu.show {
    background-color: black;
    color: white;
    box-shadow: none;
    ul {

      li {
        font-family: "decimamonox";
        a {
          background-color: black !important;
        }
      }
    }
    &:after {
      content: none,
    }
  }
}