@font-face {
  font-family: "decimamonox";
  src: url("/fonts/decimamonox-webfont.woff2") format("woff2"),
    url("/fonts/decimamonox-webfont.woff") format("woff");
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  overscroll-behavior: none;
}

@media (min-width: 681px) {
  .mobile {
    display: none !important;
  }
}
@media (max-width: 680px) {
  .desktop {
    display: none !important;
  }
}

#scrollContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  vertical-align: middle;
  text-align: center;

  .contentWrapper {
    display: inline-block;
    width: 100%;
    position: relative;
    @media (min-width: 681px) {
      width: 80%;
    }

    &.hor {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      .textContentWrapper {
        @media (min-width: 681px) {
          &.dau {
            width: 7em;
            padding: 0 8px;
          }
        }
      }
    }

    .textContentWrapper {
      display: inline-block;
      text-align: left;
      padding: 0 9%;
      width: 100%;
      box-sizing: border-box;
      @media (min-width: 681px) {
        padding: 0 2%;
      }
      .text {
        font-family: "decimamonox";
        display: block;
        font-size: 12px;
        line-height: 18.6px;
        font-feature-settings: "liga" off;
        font-variant-ligatures: no-common-ligatures;
        @media (min-width: 680px) {
          font-size: 1vw;
          line-height: 1.55vw;
        }
      }
      .columnsWrapper {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        width: 100%;
        .leftTextBlock {
          display: inline-flex;
          flex-flow: column nowrap;
          // flex-grow: 0;
          width: 29%;
           @media (min-width: 681px) {
            margin-left: 13%;
            width: 21%;
           }
        }
        .rightTextBlock {
          display: inline-flex;
          flex-flow: column nowrap;
          // flex-grow: 0;
          width: 52%;
          @media (min-width: 681px) {
            width: 24em;
          }
        }
        &.cast {
          flex-flow: column nowrap;
          margin-bottom: 18px;
          @media (min-width: 681px) {
            flex-flow: row nowrap;
            margin-bottom: 0px;
            .role {
              margin-left: 13%;
              width: 21%;
            }
          }
        }
      }
      &.form {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        .text.dau {
          display: inline-block;
        }
      }
    }

    .imgWrapper {
      img {
        width: 100%;
        // background-size: cover;
        // background-repeat: no-repeat;
        border-radius: 4px;
        display: inline-block;
      }
    }

    .cadrsContainer {
      display: inline-block;
      padding: 0 2%;
      .cadr {
        display: none;
        &.visible {
          display: block;
          cursor: pointer;
        }
        img {
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 4px;
          display: inline-block;
          pointer-events: none;
        }
      }
    }
    
    .cadrNumsContainer {
      display: inline-flex;
      flex-flow: row nowrap;
      margin-left: 2%;
      .cadrNum {
        padding: 2%;
        min-width: 1em;
        cursor: pointer;
        &.chosen {
          opacity: 0.5;
        }
        // .text {
        //   pointer-events: none;
        // }
      }
    }

    .filmBlocksContainer {
      display: inline-flex;
      flex-flow: column nowrap;
      position: relative;
      .filmBlock {
        position: relative;
        text-align: left;
        img {
          width: 96%;
          height: auto;
          margin: 0 auto;
          border-radius: 4px;
          margin-left: 2%;
        }
        margin-bottom: 54px;
        .textContentWrapper {
          max-width: 91.2%;
        }
      }
      @media (min-width: 681px) {
        flex-flow: row nowrap;
        justify-content: space-between;
        width: calc(100% - 3.7%);
        position: relative;
        .filmBlock {
          width: calc(50% - 2px);
          margin-bottom: 6.2vw;
          .textContentWrapper {
            padding: 0;
            // max-width: 276px;
            text-align: left;
            .cast {
              margin-bottom: 18px;
              .role {
                margin-left: 0px;
                width: 50%;
              }
            }
          }
          img {
            // padding: 0px;
            margin-left: 0%;
          }
        }
      }
    }
    .videoContainer {
      width: 100%;
      padding: 0 8px;
      box-sizing: border-box;
      @media (min-width: 320px) {
        margin: -365px 0 -330px;
      }
      @media (min-width: 420px) {
        margin: -345px 0 -305px;
      }
      @media (min-width: 480px) {
        margin: -345px 0 -305px;
      }
      @media (min-width: 510px) {
        margin: -315px 0 -265px;
      }
      @media (min-width: 600px) {
        margin: -295px 0 -255px;
      }
      @media (min-width: 765px) {
        margin: -220px 0;
      }
      @media (min-width: 1200px) {
        margin: -100px 0;
      }
      height: 900px;
      iframe {
        border-radius: 4px;
      }
    }
  }

  #mc_embed_signup {
    display: inline-block;
    background-color: transparent;
    font-family: 'decimamonox';
    font-size: 12px;
    line-height: 18.6px;
    font-feature-settings: 'liga' off;
    font-variant-ligatures: no-common-ligatures;
    .agreement {
      // max-width: 30em;
      opacity: 0.5;
    }
    .mc-field-group {
      display: flex;
      position: relative;
      flex-flow: column nowrap;
      align-items: flex-start;
      div.mce_inline_error {
        display: none !important;
      }
      .input {
        border-bottom: 1px solid rgb(230, 230, 230);
        border-bottom-style: dashed;
        flex-grow: 1;
        input {
          position: relative;
          color: rgb(230, 230, 230) !important;
          background-color: rgb(25, 25, 25) !important;
          margin: 0em !important;
          padding: 0 !important;
          border: 0px !important;
          outline: none;
          font-family: 'decimamonox';
          font-size: 12px;
          line-height: 18.6px;
          font-feature-settings: 'liga' off;
          font-variant-ligatures: no-common-ligatures;
          width: 20em;
          -webkit-box-shadow: inset 0 0 0 50px rgb(25, 25, 25);
          -webkit-text-fill-color: rgb(230, 230, 230);
          &::placeholder {
            color: rgb(230, 230, 230);
            opacity: 1;
            visibility: visible;
            font: 400 1em 'decimamonox';
            text-align: start;
          }
          &:-internal-autofill-selected {
            background-color: rgb(25, 25, 25) !important;
            color: rgb(230, 230, 230) !important;
          }
        }
      }
      .clear {
        #mc-embedded-subscribe {
          opacity: 0.5;
          margin-top: 18px;
          pointer-events: none;
          -webkit-appearance: none;
          color: white;
          background-color: transparent;
          border-width: 0;
          font-family: 'decimamonox';
          font-size: 1vw;
          line-height: 1.55vw;
          font-feature-settings: 'liga' off;
          font-variant-ligatures: no-common-ligatures;
          padding-left: 0;
          @media (max-width: 680px) {
            font-size: 12px;
            line-height: 18.6px;
          }
          &.enabled {
            opacity: 1;
            pointer-events: all;
            cursor: pointer;
          }
        }
      }
    }
    #mce-responses {
      #mce-error-response {
        max-width: 30em;
      }
      #mce-success-response {
        text-transform: uppercase;
      }
    }
  }
}

.dark,
.light {
  width: 100%;
}

.dark {
  .text {
    color: rgb(230, 230, 230);
  }
  background-color: rgb(25, 25, 25);
}

.light {
  background-color: rgb(230, 230, 230);
  .text {
    color: rgb(25, 25, 25);
  }
}
