@font-face {
  font-family: "decimamonox";
  src: url("/fonts/decimamonox-webfont.woff2") format("woff2"),
    url("/fonts/decimamonox-webfont.woff") format("woff");
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  overscroll-behavior: none;
}

@media (min-width: 681px) {
  .mobile {
    display: none !important;
  }
}
@media (max-width: 680px) {
  .desktop {
    display: none !important;
  }
}

#scrollContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  vertical-align: middle;
  text-align: center;

  .contentWrapper {
    display: inline-block;
    width: 100%;
    position: relative;
    @media (min-width: 681px) {
      width: 80%;
    }

    &.hor {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      .textContentWrapper {
        @media (min-width: 681px) {
          &.dau {
            width: 7em;
            padding: 0 8px;
          }
        }
      }
    }

    .textContentWrapper {
      display: inline-block;
      text-align: left;
      padding: 0 9%;
      width: 100%;
      box-sizing: border-box;
      @media (min-width: 681px) {
        padding: 0 2%;
      }
      .text {
        font-family: "decimamonox";
        display: block;
        font-size: 12px;
        line-height: 18.6px;
        font-feature-settings: "liga" off;
        font-variant-ligatures: no-common-ligatures;
        @media (min-width: 680px) {
          font-size: 1vw;
          line-height: 1.55vw;
        }
      }
      .columnsWrapper {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        width: 100%;
        .leftTextBlock {
          display: inline-flex;
          flex-flow: column nowrap;
          // flex-grow: 0;
          width: 29%;
           @media (min-width: 681px) {
            margin-left: 13%;
            width: 21%;
           }
        }
        .rightTextBlock {
          display: inline-flex;
          flex-flow: column nowrap;
          // flex-grow: 0;
          width: 32.8%;
          @media (min-width: 681px) {
            width: 24em;
          }
        }
        &.cast {
          flex-flow: column nowrap;
          margin-bottom: 14px;
          @media (min-width: 681px) {
            flex-flow: row nowrap;
            margin-bottom: 0px;
            .role {
              margin-left: 13%;
              width: 21%;
            }
          }
        }
      }
    }

    .imgWrapper {
      img {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 4px;
    
        display: inline-block;
    
        &.width30 {
          width: 30vw;
        }
      }
    }

    .cadrsContainer {
      display: inline-block;
      padding: 0 2%;
      .cadr {
        display: none;
        &.visible {
          display: block;
        }
        img {
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 4px;
          display: inline-block;
        }
      }
    }
    
    .cadrNumsContainer {
      display: inline-flex;
      flex-flow: row nowrap;
      margin-left: -1.86%;
      .cadrNum {
        padding: 1.86%;
        cursor: pointer;
        &.chosen {
          opacity: 0.5;
        }
        .text {
          pointer-events: none;
        }
      }
    }

    .filmBlocksContainer {
      display: inline-flex;
      flex-flow: column nowrap;
      position: relative;
      .filmBlock {
        img {
          width: 100%;
          height: auto;
          padding: 0 2%;
          box-sizing: border-box;
        }
        margin-bottom: 42px;
      }
      @media (min-width: 681px) {
        flex-flow: row nowrap;
        justify-content: space-between;
        width: calc(100% - 3.7%);
        position: relative;
        .filmBlock {
          width: calc(50% - 2px);
          .textContentWrapper {
            padding: 0;
            // max-width: 276px;
            text-align: left;
            .cast {
              margin-bottom: 14px;
              .role {
                margin-left: 0px;
                width: 50%;
              }
            }
          }
          img {
            padding: 0px;
          }
        }
      }
    }
    .videoContainer {
      width: 100%;
      padding: 0 8px;
      box-sizing: border-box;
      @media (min-width: 320px) {
        margin: -365px 0;
      }
      @media (min-width: 500px) {
        margin: -305px 0;
      }
      @media (min-width: 765px) {
        margin: -220px 0;
      }
      @media (min-width: 1200px) {
        margin: -100px 0;
      }
      height: 900px;
      iframe {
        border-radius: 4px;
      }
    }
  }
}

.dark,
.light {
  width: 100%;
}

.dark {
  .textline, .text {
    color: rgb(230, 230, 230);
  }
  background-color: rgb(25, 25, 25);
}

.light {
  background-color: rgb(230, 230, 230);
  .textline, .text {
    color: rgb(25, 25, 25);
  }
}
