@font-face {
  font-family: 'decimamonox';
  src: url('/fonts/decimamonox-webfont.woff2') format('woff2'), url('/fonts/decimamonox-webfont.woff') format('woff');
}

html, body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  overscroll-behavior: none;
  white-space: nowrap;
}

#scrollContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  vertical-align: middle;
  text-align: center;

  .contentWrapper {
    display: inline-block;
    text-align: left;
    .textline {
      font-family: "decimamonox";
      display: block;
      line-height: 1.8;
      font-size: 0.9vw;
      white-space: pre;
    }
  }


  .columnsWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    .leftTextBlock {
      display: inline-block;
    }
    
    .rightTextBlock {
      display: inline-block;
    }
  }

  .blocksWrapper{
    width: 71vw;
    display: flex;
    justify-content: space-between;

    .leftBlock{
      margin-right: 1vw;
    }
    .rightBlock{

    }
    .leftBlock, .rightBlock{
      flex: 1;
      position: relative;
      img {
        width: 35vw;
        height: auto;
        border-radius: 0.7vh;
      }
      .leftTextBlock {
        min-width: 10vw;
        padding-left: 5vw;
        padding-right: 3vw;
      }
      .rightTextBlock {}
    }

  }



  .imgContainer {
    margin-right: auto;
    margin-bottom: 2.5vh;
    display: block;
    position: relative;
    &.rightAligned {
      margin-right: 0;
      margin-left: auto;
    }

    &.bottomMargin0_5 {
      margin-bottom: 0.5vh;
    }

    &.bottomMargin1 {
      margin-bottom: 1vh;
    }

    &.lazy {
      background-color: #c4c4c4;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 0.7vh;
    }
    &.width57 {
      width: 57vh;
      &.height29 {
        padding-top: 50.8771929824561%;
      }
    }
    &.loaded {
    }

    #cadrNumsContainer {
      display: flex;
      flex-flow: row nowrap;
      .cadrNum {
        margin-right: 1.5vh;
        cursor: pointer;
        &.chosen {
          opacity: 0.5;
        }
        p {
          pointer-events: none;
        }
      }
    }
  }
}

.imgWrapper {
  img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.7vh;

    display: inline-block;

    &.width30 {
      width: 30vw;
      //padding-bottom: 60.422671%;
    }
  }
}
.cadrsContainer {
  display: inline-block;
  .cadr {
    display: none;
    &.visible {
      display: block;
    }
    img {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 0.7vh;

      display: inline-block;
      &.width70 {
        width: 70vw;
        //padding-bottom: 60.422671%;
      }
    }
  }
}

.cadrNumsContainer {
  display: inline-flex;
  flex-flow: row nowrap;
  .cadrNum {
    padding: 0.4em;
    cursor: pointer;
    &.chosen {
      opacity: 0.5;
    }
    p {
      pointer-events: none;
    }
  }
}

.dark, .light{
  width: 100%;
}

.dark {
  .textline {
    color: rgb(230, 230, 230);
  }
  background-color: rgb(25, 25, 25);
}

.light {
  background-color: rgb(230, 230, 230);
  .textline {
    color: rgb(25, 25, 25);
  }
}
